p{
    color:#964B00;
   
text-align: center;
line-height: 30px;
}
h1{
    text-align:center;
    color:red;
}
h3{
    text-align: center;
    color:black;
}
body{
    font-family: Georgia;
     text-decoration :red wavy underline;
}
a{
    text-decoration:green none;

}
button{
    background-color: white;
    color:blueviolet;
}
textarea{
    color:black;
}
span{ 
    text-decoration: underline;
}