div{
    height:200px;
    width:200px;
    background-color: green;
    margin:0 auto;
    margin-top:10px;
    transition:margin-top 1s ease-in-out 0.2s;


}
div:hover{
    margin-top:400px;
    background-color: pink;
    transform: rotate();
}