div{
    width:400px;
    height:200px;
    margin:10px auto;
    background-color: #7aa874;
    background-image:url("gojo.jpeg");
    background-size:cover ;
color:rgb(3, 1, 25);
font-weight:bold;
}