.er{
    border:2px solid black;
    height:100px;
    width:100px;

    
}
#e{
    position: relative;
    z-index: 2;
    bottom:50px;

}
#o{
    position:relative;
    z-index: 1;
    top:40px;
    
}

