h2{
    color: orangered;
}
span{
    color:rgba(146, 112, 27, 0.955);
}
.card{
    height:500px;
    width:400px;
    border-radius:20px;
    border: 2px solid black;
    margin :10px;
    padding:5px;




}
img {
    width:400px;
    height:200px;
    border-radius:20px;

    

}
h4{
    text-align: right;
    color:#3c787e;
}
#pets{
    display: flex;
    justify-content:space-evenly;
}
@media(max-width:375px)
{
    #pets{
        flex-wrap:wrap;

    }
}
